<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>As fast as possible</key>
	<integer>0</integer>
	<key>100 logs / second</key>
	<integer>10</integer>
	<key>50 logs / second</key>
	<integer>25</integer>
	<key>25 logs / second</key>
	<integer>50</integer>
	<key>10 logs / second</key>
	<integer>100</integer>
	<key>5 logs / second</key>
	<integer>200</integer>
	<key>2 logs / second</key>
	<integer>500</integer>
	<key>1 log / second</key>
	<integer>1000</integer>
	<key>Every 2 seconds</key>
	<integer>2000</integer>
	<key>Every 5 seconds</key>
	<integer>5000</integer>
</dict>
</plist>
